.main_shop h1 {
    text-align: center;
    width: 80%;
    background-color: rgb(37, 7, 94);
}
.main_shop h2 {
    text-align: center;
    width: 80%;
    background-color: rgb(88, 40, 177);
}

.main_shop {
    background-color: rgb(7, 18, 43);
    padding: 5px;
    padding-top: 30px;
    width: 60%;
    flex-direction: row;
    /* Pozostaw układ w rzędzie */
    margin-inline: 20%;
    display: flex;
    min-width: 500px;
    flex-wrap: wrap;
    /*zawija*/
    justify-content: space-around;
    flex-shrink: 0;
}

.produkt {
    width: 400px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: solid;
    border-color: rgb(0, 247, 173);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto; /* Automatyczna wysokość w zależności od zawartości */
    transition: 1s;
}

.produkt img {
    max-height: 200px; /* Ograniczenie wysokości obrazka */
    max-width: 100%; /* Obrazek dostosowuje się do szerokości kafelka */
    margin-bottom: 15px;
}

.produkt .nazwa {
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.produkt .p,
.product label{
    font-size: 14px;
    margin: 5px 0;
    color: rgb(0, 0, 0);
    text-align: center;
}

.produkt .cena {
    color: green;
    font-weight: bold;
}
.produkt .quantity {
    background-color: #ffffffd2;
    font-size: 14px;
    margin: 5px 0;
    color: rgb(0, 0, 0);
    width: 50px;
}
.produkt button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #4a4aff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.produkt button:hover {
    background-color: darkblue;
}

.produkt:hover {
    border-color: red;
    transition: 1s;
}
