body{
    font-family: 'Century Gothic';
    background-image: url('tlo.jpg');
    color:white;
}
h1,h2{
    text-align: center;
    width: 100%;
    display: block;
}
.main{
background-color: rgb(7, 18, 43);
padding: 5px;
padding-top: 30px;
width: 60%;
flex-direction: column;
align-items: center;
margin-inline:20%;
min-width: 60%;
}